.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: auto;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    max-width: 800px;
    width: 100%;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

    .header .header-link {
        color: inherit;
        text-decoration: none;
        font-weight: bold;
    }

    .header .header-menu {
        list-style: none;
        display: flex;
        margin: 0 0 0 auto;
    }

        .header .header-menu li {
            display: flex;
            width: 100px;
            text-align: center;
            height: 50px;
            line-height: 50px;
            transition: all 0.3s ease;
        }

        .header .header-menu li:hover {
            filter: brightness(80%);
        }

            .header .header-menu li a {
                width: 100%;
                text-align: center;
            }

                .header .header-menu li a .font-icon {
                    display: inline;
                    font-size: 28px;
                    vertical-align: middle;
                    margin-right: 5px;
                }

.footer {
    margin-top: auto;
    width: 100%;
}
