.header {
    display: flex;
    z-index: 10;
    flex-shrink: 0;
    background-color: var(--accent-color);
    font-family: var(--body-font);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--fill-color);
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

    .header .header-contents {
        display: flex;
        position: relative;
        align-items: center;
        max-width: 800px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

.header .header-fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
