<section class="content-section">
    <h1 class="section-header">Link</h1>
    
    <div class="link-contents">
        <ul>
            <li>
                <i class="lab la-twitter"></i>
                <a href=@ConstString.TwitterPageUrl>
                    <span>@ConstString.TwitterPageUrl</span>
                </a>
            </li>
            <li>
                <i class="lab la-github"></i>
                <a href=@ConstString.GitHubPageUrl>
                    <span>@ConstString.GitHubPageUrl</span>
                </a>
            </li>
        </ul>
    </div>
</section>
