.content-section {
    margin-top: 10px;
    margin-bottom: 50px;
    width: 100%;
}

    .content-section .section-header {
        padding: 1rem 1rem 1rem 2.5rem;
        position: relative;
    }

    .content-section .section-header:before {
        position: absolute;
        top: 20%;
        left: 20px;
        width: 6px;
        height: 60%;
        content: '';
        background-color: var(--accent-color);
    }

    .content-section .profile-contents {
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
    }

        .content-section .profile-contents .profile-image {
            border: 5px solid #ffffff;
            box-shadow: 0 0 5px #999999;
            height: 300px;
            width: 300px;
            margin: 10px;
        }

        .content-section .profile-contents .profile-list {
            display: block;
            margin: 10px;
        }

            .content-section .profile-contents .profile-list .profile-name {
                font-size: 36px;
                font-weight: bold;
                margin-left: 1em;
            }

            .content-section .profile-contents .profile-list .profile-id {
                font-size: 18px;
            }

            .content-section .profile-contents .profile-list ul {
                list-style: none;
            }

                .content-section .profile-contents .profile-list ul li {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    margin-bottom: 10px;
                }

                    .content-section .profile-contents .profile-list ul li i {
                        margin-right: 10px;
                    }

            .content-section .profile-contents .profile-list .profile-tag-list {
                display: flex;
                flex-wrap: wrap;
            }

            .content-section .profile-contents .profile-list .profile-tag {
                position: relative;
                display: inline-block;
                margin-top: 5px;
                margin-right: 5px;
                margin-left: 15px;
                margin-bottom: 5px;
                padding: 0.3rem 0.5rem 0.3rem 0.8rem;
                color: var(--fill-color);
                background-color: var(--accent-fill-color);
            }

            .content-section .profile-contents .profile-list .profile-tag:before {
                position: absolute;
                top: 0;
                left: -10px;
                content: '';
                border-width: 15px 10px 15px 0;
                border-style: solid;
                border-color: transparent var(--accent-fill-color) transparent transparent;
            }

            .content-section .profile-contents .profile-list .profile-tag:after {
                position: absolute;
                top: calc(50% - 3px);
                left: -3px;
                width: 5px;
                height: 5px;
                content: '';
                border-radius: 50%;
                background-color: #ffffff;
            }
